#theNav{
    width: 100%;
    height: 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
#theNav h3{
  padding-left: 30px;
  margin-bottom: 10px;
}
hr{
    border: 1.2px solid black;
}

/* #theNav{
    display: flex;
    justify-content: center;
    color: rgb(37, 62, 186);
}
#firstDate{
    width: 600px;
}
#allGoogle{
    width: 100vm;
    height: 100vm;
    display: flex;
    justify-content: center;
    background-color: aqua;
} */
/* from here testing google*/
/* #login{
    width: "100%";
    height: 100vm;
    margin: "30px";
    position: "absolute";
    background-color: aquamarine;
} */