#theNav{
    display: flex;
    justify-content: center;
    color: rgb(37, 62, 186);
}
/* from here testing google*/
/* #login{
    width: "100%";
    height: 100vm;
    margin: "30px";
    position: "absolute";
    background-color: aquamarine;
} */