#barFunc{
    display: flex;
    width: 100%;
    justify-content: space-around;
    flex-direction: row;
}
#amoutInput{
    border-radius: 5px;
    border: 1px solid gray;
}
#themesDropdown{
    border-radius: 5px;
    border: 1px solid gray;
}
 
#barTitle{
 display: flex;
 justify-content: center;
}

.numOfEvents{
    width: 2.5rem;
}
.filtterButtons{
    height: 30px;
    padding: 15px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 13px !important ;
    background-color: #f1f1f1;
    border-radius: 30px;
    /* opacity: 50%; */
    margin-bottom: 0.5rem;
    /* color: aliceblue; */
	border: none;
	font: inherit;
	cursor: pointer;
	outline: inherit;
}
.filtterButtons:hover{
    opacity: 70%;
}
#from{
    margin-bottom: 0.5rem;
}
#until{
    margin-bottom: 0.5rem;
}
#amout{
    margin-top: 4px;
}
#findTheme{
    margin-top: 5px;
}
#timeRange input{
 border-radius: 5px;
 border: 1px solid gray;
}
#timeRange{
    
}
