
#listBar{
    height: 3rem;
 display: flex;
 /* background-color: aquamarine; */
 flex-direction: column;
}
#barTitle{
 display: flex;
 justify-content: center;
 
}
#barFunc{
    display: flex;
    width: 100%;
    justify-content: space-around;
    /* align-items: center; */
    flex-direction: row;
}

.numOfEvents{
    width: 2.5rem;
}
.filtterButtons{
    background-color: rgb(110, 192, 237);
    border-radius: 3px;
    opacity: 30%;
}
.filtterButtons:hover{
    opacity: 100%;
}
