#allevent{
    /* height: 50px; */
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border: 1px solid black;
    border-radius: 2rem;
    margin: 1rem;
    position: relative;

}
#eventTitle{
    display: flex;
    justify-content: center;
}
#eventNotes{
    display: flex;
    justify-content: center;
}
#eventDate{
    display: flex;
    position: absolute;
    left: 1rem;
    /* justify-content: center; */
    flex-direction: column
}
#eventDate h4{
    display: flex;
    justify-content: center;
}
#eventDeleteButton{
    width: 1rem;
    display: flex;
    position: absolute;
    left: 46rem;
    top: 0.8rem;
    background-color: transparent;
    border: none;
}
#eventTheme{
    display: flex;
    position: absolute;
    right: 5rem;
    top: 0.1rem;
}
.importantEvent{
    background-color: aqua;
}
#bin{
    display: flex;
    justify-content: center;
    font-size: large;
}