#allevent{
    /* height: 50px; */
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border: 1px solid black;
    border-radius: 2rem;
    margin: 1rem;
    position: relative;

}
#eventTitle{
    display: flex;
    justify-content: center;
}
#eventNotes{
    display: flex;
    justify-content: center;
}
#eventDate{
    display: flex;
    position: absolute;
    left: 1rem;
    flex-direction: column;
}
#eventDate h4{
    display: flex;
    justify-content: center;
}
#eventDeleteButton{
    width: 1rem;
    display: flex;
    position: absolute;
    left: 46rem;
    top: 0.8rem;
    background-color: transparent;
    border: none;
}
.eventTheme{
    display: flex;
    position: absolute;
    right: 5rem;
    top: 0.1rem;
}
.importantEvent{
    background-color: #2D9596;
    color: whitesmoke;
}
#bin{
    display: flex;
    justify-content: center;
    font-size: large;
}
#tags{
    display: flex;
    justify-content: center;
    flex-direction: row;
    gap: 5px;
}
.eventTags{
    background-color: orange;
    margin: 3px;
    border: 1px solid gray;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    flex-direction: row;
}
